#cardelement {
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  position: relative;
  box-shadow: 0.5px 0.5px 0.5px 0.5px;
}

#details {
  margin-left: 20%;
}

#image {
  float: left;
  width: 20%;
  height: auto;
}

#artimage {
  height: 100%;
  width: 100%;
}